<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Istravel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Istravel.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <div>
        <img src="/Images/ISTRAVEL-Photoroom.png" alt="Logo">
            <div>
                <nav>
                    <ol>
                        <a href='@Url.Action("Index","Home")'>Home</a>
                        <a href='@Url.Action("Restaurantes","Home")'>Restaurantes</a>
                        <a href='@Url.Action("Sitios","Home")'>Sitios turisticos</a>
                        <a href='@Url.Action("Cultura","Home")'>Cultura</a>
                        <a href='@Url.Action("Contacto","Home")'>Contacto</a>

                    </ol>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <footer>
        <marquee scrollamount="10">
            Copyright ©2024 | Agencia IStravel | Usach - Berman
        </marquee>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
